doctype html
head
  title
  meta(http–equiv='“Content-Type”' content='“text/html;' charset='UTF-8”')
  meta(http–equiv='“X-UA-Compatible”' content='“IE=edge”')
  meta(name='“viewport”' content='“width=device-width,' initial-scale='1.0' “='')
h1(color: 'red') #{subject}
p Name: #{name}
p Email: #{email}
p Phone: #{phone}
p Message: #{message}