doctype html
head
  title
  meta(http–equiv='“Content-Type”' content='“text/html;' charset='UTF-8”')
  meta(http–equiv='“X-UA-Compatible”' content='“IE=edge”')
  meta(name='“viewport”' content='“width=device-width,' initial-scale='1.0' “='')
h1(color: 'red') #{subject}
p Meal type: #{mealType}
p Address line 1: #{addressLine1}
p Address line 2: #{addressLine2}
p Address line 3: #{addressLine3}
p Pincode: #{pinCode}
p Landmark: #{landMark}
p Locality: #{locality}
p Contact person: #{contactPerson}
p Contact person mobile number: #{contactPersonMob}
p Message: #{message}